.player-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    border: solid 2px white;
    width: 50%;
    border-radius: 20px;
    margin: 0.5rem;
}

.player-card h1, p{
    width: 100%;
}
