.player-filter{
    width: 50%;
}

.action-footballPlayer{
    display: flex;
    justify-content: end;
}

.player-filter form{
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.player-card h1, p{
    width: 100%;
}

.teamPlayerAmount{
    text-align: center;
    width: 50%;
}

.roundLineup-info{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0.5rem;
}




