* {
    margin: 0;
    padding: 0;
}

p, h1, h2, h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgb(60, 194, 60) !important;
}

.container{
    display: flex;
    padding: 2rem;
    border: solid 2px white;
    width: 50%;
    border-radius: 20px;
}

.container form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    color: white;
}

.container label{
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px white;
    padding: 0.5rem;
    color: white;
    margin-bottom: 2rem;
    width: 100%;
}

.div-teamInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.div-teamInfo img{
    height: 70px;
}

.div-teamInfo p{
    text-align: center;
    font-weight: 400;
}

.div-alert{
    display: flex;
    width: 50%;
    margin: 0.5rem;
}

.div-alert span{
    width: 100%;
    text-align: center;
    padding: 0.25rem;
    margin: 0.5rem;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.div-alert .flash-error{
    background-color: #dc3545;
}

.div-alert .flash-success{
    background-color: #198754;
}

.div-alert .flash-warning{
    background-color: #ffc107;
    color: white;
}
