* {
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

body{
    background-color: #00712D !important;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: solid 2px white;
    width: 50%;
    border-radius: 20px;
}

.container form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    color: white;
}
.form-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
}

.container label{
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px white;
    padding: 0.5rem;
    color: white;
    margin-bottom: 2rem;
    width: 100%;
}

.div-teamInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.div-teamInfo img{
    height: 70px;
}

.div-teamInfo p{
    text-align: center;
    font-weight: 400;
}

.div-alert{
    display: flex;
    width: 50%;
    margin: 0.5rem;
}

.div-alert span{
    width: 100%;
    text-align: center;
    padding: 0.25rem;
    margin: 0.5rem;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.div-alert .flash-error{
    background-color: #dc3545;
}

.div-alert .flash-success{
    background-color: #198754;
}

.div-alert .flash-warning{
    background-color: #ffc107;
    color: white;
}

.footballTeam-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footballTeam-info p{
    font-size: 1rem;
}

.footballTeam-info img{
    margin-bottom: 0.75rem;
}

.player-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.5rem;
    border: solid 2px white;
    width: 50%;
    border-radius: 20px;
    margin: 1rem;
}

.player-info{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.player-info p{
    font-size: 1.25rem;
}

.btn-primary{
    background-color: white;
    color: black;
    border: none;
}

.btn-primary:hover{
    background-color: black;
    color: white;
}

.menu-link{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 7rem;
    font-size: 2rem;
    color: white;
}

.menu-link:hover{
    color: black;
}

.ranking-teams{
    border-collapse: collapse;
     margin: 25px 0;
     width: 50%;
}

.ranking-teams thead th{
    background-color: black;
    color: white;
    text-align: left;
    font-weight: 700;
    font-size: 1rem;
}

.ranking-teams th, .ranking-teams td{
    padding: 12px 15px;
}

.ranking-teams tbody tr{
    background-color: white;
    border: 1px solid lightgrey;
    font-size: 1.2rem;
}

.ranking-teams tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.ranking-teams tbody tr:last-of-type{
    border-bottom: 3px solid black;
}


